<div class="container page-container">
  <div class="deck">
    <div class="row info">
      <h3>Текущая коллекционка на Арене - спешите взять!</h3>
    </div>
    <div class="row">
      <div id="current-arena-star">
        <%= image_tag 'niff.png' %>
      </div>
    </div>
    <div class="row info">
      <h3>Скоро поступят в продажу</h3>
    </div>
    <div class="row cards-container deck-container">
      <div class="col-md-1"></div>
      <% @cards.each do |card| %>
          <div class="col-md-2 star-box">
            <div id="countdown-<%= card.number %>">
              <%= javascript_tag do %>
                  var startime = new Date(<%= get_startime(card) %>);
                  $("#countdown-<%= card.number %>").countdown({until: startime,
                  expiryText: '<div class="over">It\'s all over</div>',
                  significant: 1,
                  layout: '{d<}{dn} {dl} {d>}{h<}{hn} {hl} {h>}{m<}{mn} {ml} {m>}{s<}{sn} {sl}{s>}'});
              <% end %>
            </div>
            <%= render card, card: card %>
          </div>
      <% end %>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
