<div class="container page-container text-center">

  <h2><%= t('.sign_up') %></h2>
  <h4>Регистрация необходима, если вы хотите создавать свои деки.</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label 'Логин' %><br>
      <%= f.text_field :username, class: 'devise-input' %>
    </div>

    <div class="field">
      <%= f.label 'Электропочта' %><br>
      <%= f.email_field :email, autofocus: true, class: 'devise-input' %>
    </div>

    <div class="field">
      <%= f.label 'Пароль' %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'devise-input' %>
    </div>

    <div class="field">
      <%= f.label 'Подтверждение' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'devise-input' %>
    </div>

    <div class="actions">
      <%= f.submit t('.sign_up'), class: 'btn btn-primary', id: 'sign-in' %>
    </div>
  <% end %>

  <div class="row links"><%= render "devise/shared/links" %></div>

</div>
