<div class="container page-container">
  <div class="row filter-container">
    <%= render 'filter' %>
  </div>
  <div class="row cards-container">
    <div id="cards-box">
      <div id="loader"></div>
      <div id="cards">
        <%= render @cards %>
      </div>
    </div>
    <div class="bottom-line">
      <div class="paginator">
        <%= paginate @cards, remote: true %>
      </div>
    </div>
  </div>
</div>
<div class="deckholder">
  <div class="deckholder-roof">
    <div id="cards-counter-container"></div>
    <button type="button" id="clear-all" class="btn btn-danger">Очистить деку</button>
    <%= form_for @deck, url: {controller: 'decks', action: 'create'}, html: {id: 'submit-form'} do |f| %>
        <span id="deck-name-label">Имя деки:</span><%= f.text_field :name %>
        <span id="deck-info-label">Описание деки</span><%= f.text_area :info %>
        <%= f.hidden_field(:deck, :value => '') %>
        <%= f.submit 'Создать деку', :class => 'btn btn-primary', :id => 'create-deck' %>
    <% end %>
  </div>
</div>
