<div class="container">
  <div class="jumbotron">
    <p>
      <%= @card.card_id %>
      <%= @card.name %>
      <%= @card.clan %>
      <%= @card.rarity %>
      <%= @card.star %>
      <%= @card.power %>
      <%= @card.damage %>
      <%= @card.ability %>
      <%= @card.bonus %><
    </p>
  </div>
</div>