<div class="deck">
  <div class="info">
    <h2><%= deck.name %> | <%= deck.likes %> / <%= deck.dislikes %></h2>
    <h3><%= deck.info %></h3>
    <h4>Автор деки: <%= deck.user.username %></h4>
  </div>
  <div class="deck-cards">
    <% get_cards(deck).each do |card| %>
        <%= render card, card: card %>
    <% end %>
  </div>
</div>
