<div class="container">
  <div class="row">
    <div id="paginator">
      <%= paginate @cards, remote: true %>
    </div>
    <div id="loading">Подгружаем карты...</div>
    <div id="cards" class="col-md-11">
      <%= render @cards %>
    </div>
  </div>
</div>
<div class="deckholder">
  <div class="deckholder-roof">
    <button type="button" id="clear-all" class="btn btn-danger">Очистить деку</button>
      <%= form_for @deck, url: {action: 'create'}, html: {id: 'submit-form'} do |f| %>
        <%= f.hidden_field(:deck, :value => '') %>
        <%= f.submit 'Создать деку', :class => 'btn btn-primary',
                    :data => {:toggle=>"tooltip"},
                    'data-original-title' => "Hey Whats up",
                    'data-placement' => 'right'%>

    <% end %>
    <!-- <button type="button" id="login" class="btn btn-primary">Войдите, чтобы сохранить деку</button> -->
  </div>
</div>
