<div class="container">
  <h1 class="main-h1">Klanz Deckbuilder</h1>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <table class="table">
        <tbody id="cards">
        <%= render @cards %>
        </tbody>
      </table>
      <div id="paginator">
        <%= paginate @cards, remote: true %>
      </div>
    </div>
  </div>
</div>
<div class="deckholder">
  <div class="deckholder-roof">
    <button type="button" id="clear-all" class="btn btn-danger">Очистить деку</button>
    <%= form_for @deck, url: {action: 'create'}, html: {id: 'submit-form'} do |f| %>
      <%= f.text_field :author, placeholder: 'Автор деки...' %>
      <%= f.hidden_field(:deck, :value => '') %>
      <%= f.submit 'Создать деку', :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <% 15.times do |i| %>
      <td id="deck-card-<%= i %>"></td>
  <% end %>

</div>
