<div class="container page-container">
  <div class="deck">
    <div class="r_h"></div>
    <div class="row header-container">
      <div class="col-md-2 text-center">
      </div>
      <div class="col-md-2 text-center">
        <% get_clans(@deck).each do |clan| %>
            <%= image_tag "filter_icons/#{clan_id(clan)}.png" %>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <h4 id="deck-name"><%= @deck.name %></h4>
        <h5 id="author"><%= @deck.user.username %></h5>
      </div>
      <div class="col-md-2 text-center">
        <p>
          <%= image_tag "modules.png", class: 'price' %><%= @deck.module_price %>
          <%= image_tag "stars.png", class: 'price' %><%= @deck.star_price %>
        </p>
      </div>
      <div class="col-md-2 text-center">
      </div>
    </div>
    <div class="row cards-container deck-container">
      <div id="cards-box">
        <div id="cards">
          <% @cards.each do |card| %>
            <%= render card, card: card %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="deck-additional-info">
      <div class="row text-center" id="copy-container">
        <textarea id="deck-link"><%= request.original_url %></textarea>
        <button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#deck-link">
          <span class="glyphicon glyphicon-send" id="copy-deck-link"></span><span style="margin-left: 5px">Скопировать</span>
        </button>
      </div>
      <div class="row" id="deck-titles">
        <%= get_card_list @cards %>
      </div>
      <% if @deck.info.length > 0 %> <div class="row" id="deck-info"><%= @deck.info %></div> <% end %>
    </div>
  </div>
</div>
