<div class="card
  <% if params[:controller] == 'cards' && params[:action] == 'index' %> outdeck-card
  <% else %> simple-card <% end %>
  <% if card.star %> star-card <% end %>
  <%= card.rarity %>" id="<%= card.number %>">
  <div class="art">
    <%= image_tag card_path(card.number) %>
  </div>
  <div class="main-line main-line-<%= card.rarity %>">
    <div class="power-bg">
      <%= image_tag image_url('power.png') %>
      <div class="power">
        <%= card.power %>
      </div>
    </div>
    <div <% if card.name.length < 10 %> class="name" <% else %> class="long-name" <% end %>>
      <%= card.name %>
    </div>
    <div class="damage-bg">
      <%= image_tag image_url('damage.png') %>
      <div class="damage">
        <%= card.damage %>
      </div>
    </div>
  </div>
  <div class="stats clan-<%= clan_id card.clan %>">
    <div <% if card.ability.length < 20 %> class="ability" <% else %> class="long-ability" <% end %>>
      <%= card.ability %>
    </div>
    <div class="bonus">
      <%= card.bonus %>
    </div>
  </div>
</div>
